<mat-card>
  <mat-card-subtitle>Experimental</mat-card-subtitle>
  <mat-card-title>Notifications</mat-card-title>
  <mat-card-content>
    <p>In order to use notifications</p>
    <ul>
      <li>you have to open this app in Chrome/Chromium,</li>
      <li>
        you have to enable the experimental feature flag
        #enable-experimental-web-platform-features,
      </li>
      <li>
        your browser has to support Notification Triggers, see
        <a href="https://bugs.chromium.org/p/chromium/issues/detail?id=891339">
          Chromium Issue 891339
        </a>
      </li>
    </ul>
    <p>
      Notification Triggers support is:
      <span
        class="strong"
        *ngIf="notificationTriggersSupported; else triggersDisabled"
      >
        enabled
      </span>
      <ng-template #triggersDisabled>
        <span class="strong">disabled</span>
      </ng-template>
    </p>
    <form id="notification-form">
      <mat-form-field>
        <mat-label>Frequency</mat-label>
        <mat-select [value]="notificationFrequency">
          <mat-option value="1">1 hour</mat-option>
          <mat-option value="2">2 hours</mat-option>
          <mat-option value="3">3 hours</mat-option>
          <mat-option value="4">4 hours</mat-option>
        </mat-select>
        <mat-hint>Note: Changing the frequency will only affect future notifications.</mat-hint>
      </mat-form-field>
      <mat-slide-toggle
        (change)="changeNotifications($event)"
        [disabled]="!notificationTriggersSupported"
        [checked]="notificationsEnabled"
      >
        Enable notifications
      </mat-slide-toggle>
    </form>
    <div *ngIf="nextNotification$ | async as nextNotification">
      <p class="margin-reversed">
        Next notification:
        {{ notificationDate(nextNotification) | date : "short" : undefined : locale }}
      </p>
    </div>
  </mat-card-content>
</mat-card>

<mat-card>
  <mat-card-title>Locale</mat-card-title>
  <mat-card-content>
    <p>Choose the locale used for dates, times and numbers:</p>
    <mat-radio-group
      class="locale-radio-group"
      [value]="locale"
      color="primary"
      (change)="selectedLocaleChanged($event)"
    >
      <mat-radio-button class="locale-radio-button" value="en">
        English
      </mat-radio-button>
      <mat-radio-button class="locale-radio-button" value="de">
        German
      </mat-radio-button>
    </mat-radio-group>
  </mat-card-content>
</mat-card>
