#content-container {
    width: 100%;
    height: 100%;
}

#amount-tracker {
    font-size: 50pt;
    font-weight: bold;
    line-height: normal;
}

#action-list {
    min-width: 50%;

    mat-list-item {
        height: 60px;
        padding: 10px 0;
    }

    button {
        width: 100%;
        height: inherit;
    }
}