<mat-tab-group id="menu-tab-group" headerPosition="below">

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">local_drink</mat-icon>
    </ng-template>

    <app-start></app-start>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">history</mat-icon>
    </ng-template>

    <app-history></app-history>
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon color="primary">info</mat-icon>
    </ng-template>

    <app-about></app-about>
  </mat-tab>

</mat-tab-group>